In [30]:
class Dog:
    def __init__(self, name):
        self.name = name
        self.legs = 4

    def speak(self):
        print(self.name + ' says Bark!')

In [31]:
my_dog = Dog('Rover')
another_dog = Dog('Fluffy')

In [32]:
my_dog.speak()

Rover says Bark!

In [33]:
another_dog.speak()

Fluffy says Bark!

In [34]:
# Returns the value of the factorial of num if it is defined, otherwise returns None
def factorial(num):
    pass

In [35]:
# Return 120
factorial(5)

In [36]:
# Return 720
factorial(6)

In [37]:
# Return 1
factorial(0)

In [38]:
# Return None
factorial(-2)

In [39]:
#Return None
factorial(1.2)

In [40]:
 # Return None
factorial('spam, spam, spam, spam, spam')

In [41]:
myVar = 1

if type(myVar) == int:
    print('myVar is an Integer!')

if type(myVar) != int:
    print('myVar is NOT an Integer!')

myVar is an Integer!

In [42]:
# This prints the sum of all the numbers from 1 to 10
i = 0
s = 0
while i < 10:
    i = i + 1
    s = s + i

s

55

In [43]:
int(4 ** 4.00)

256

In [44]:
int(8.9)

8

In [45]:
int(14/3)

4

In [46]:
int(8.999999999)

8

In [47]:
round(14/3, 2)

4.67

In [48]:
1.2 - 1.0

0.19999999999999996

In [49]:
14/3

4.666666666666667

In [50]:
round(1.2 - 1., 2)

0.2

In [51]:
from decimal import Decimal, getcontext

In [52]:
int('100')

100

In [53]:
int('100', 2)

4

In [54]:
bool(-1) == 1

True

In [55]:
int(8.7)

8

In [56]:
int(100, 2)

TypeError: int() can't convert non-string with explicit base

In [ ]:
int('1ab', 16)

427

In [ ]:
1.2 - 1.0

0.19999999999999996

In [ ]:
getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [ ]:
getcontext().prec=4

In [ ]:
getcontext()

Context(prec=4, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [ ]:
Decimal(1) / Decimal(3)

Decimal('0.3333')

In [ ]:
getcontext().prec=2

In [ ]:
Decimal(1) / Decimal(3)

Decimal('0.33')

In [ ]:
Decimal(3.14)

Decimal('3.140000000000000124344978758017532527446746826171875')

In [ ]:
Decimal('3.14')

Decimal('3.14')

In [ ]:
round(1.2 -1.0, 2)

0.2

In [ ]:
bool(1)

True

In [ ]:
bool(0)

False

In [ ]:
bool(-1)

True

In [ ]:
bool(1j)

True

In [ ]:
bool(0.0)

False

In [ ]:
bool(0j)

False

In [ ]:
bool('True')

True

In [ ]:
bool('False')

True

In [ ]:
name = 'My Name is Iron-Man'

In [ ]:
name[0]

'M'

In [ ]:
name[1]

'y'

In [ ]:
name[0:7]

'My Name'

In [ ]:
name[:7]

'My Name'

In [ ]:
name[11:]

'Iron-Man'

In [ ]:
myList = [1,2,3,4,5]

In [ ]:
myList[2:4]

[3, 4]

In [ ]:
len(name)

19

In [ ]:
len(myList)

5

In [ ]:
'My number is: '+str(5)

'My number is: 5'

In [ ]:
f'My number is: {5}'

'My number is: 5'

In [ ]:
f'My number is: {5} and twice that is {2*5}'

'My number is: 5 and twice that is 10'

In [ ]:
import math

In [ ]:
f'Pi is: {math.pi:.2f}'

'Pi is: 3.14'

In [ ]:
'Pi is: {}'.format(math.pi)

'Pi is: 3.141592653589793'

In [ ]:
myString = '''
Here is a long block of text
I can add newlines!
another one
the text doesn't stop until it sees \'\'\'\


'''

In [ ]:
myString

"\nHere is a long block of text\nI can add newlines!\nanother one\nthe text doesn't stop until it sees '''\n\n"

In [ ]:
print(myString)

Here is a long block of text
I can add newlines!
another one
the text doesn't stop until it sees '''

In [ ]:
bytes(4)

b'\x00\x00\x00\x00'

In [ ]:
smileyBytes = bytes('ðŸ˜', 'utf-8')
smileyBytes

b'\xf0\x9f\x98\x81'

In [ ]:
smileyBytes.decode('utf-8')

'ðŸ˜'

In [ ]:
smileyBytes = bytearray('ðŸ˜', 'utf-8')

In [ ]:
smileyBytes

bytearray(b'\xf0\x9f\x98\x81')

In [ ]:
smileyBytes [3] = int('85', 16)

In [ ]:
smileyBytes.decode('utf-8')

'ðŸ˜…'

In [ ]:
hexNumbers = {
    '0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9':9,
    'A': 10, 'B': 11, 'C': 12, 'D': 13, 'E': 14, 'F':15
}
# Converts string hex number into an integer decimal
# If hexnum is not a valid hexadecimal number, returns None
def hexToDec(hexNum):
    pass

In [ ]:
# 10
hexToDec('A')

In [ ]:
hexNumbers = {
    '0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9':9,
    'A': 10, 'B': 11, 'C': 12, 'D': 13, 'E': 14, 'F':15
}
# Converts string hex number into an integer decimal
# If hexnum is not a valid hexadecimal number, returns None
def hexToDec(hexNum):
    for char in hexNum:
        if char not in hexNumbers:
            return None
        
    if len(hexNum) == 3:
        return hexNumbers[hexNum[0]] * 256 + hexNumbers[hexNum[1]] * 16 + hexNumbers[hexNum[2]]

In [ ]:
hexToDec('FDF')

4063

List Slicing

In [ ]:
myList = [1,2,3,4,5]
myList[3:]

[4, 5]

In [ ]:
myList[0:6:2]

[1, 3, 5]

In [ ]:
myList[0:6:3]

[1, 4]

In [ ]:
myList[::2]

[1, 3, 5]

In [ ]:
for i in range(100):
    print(i)

In [ ]:
myList = list(range(100))

In [ ]:
myList[::10]

[1]

In [ ]:
myList[::-10]

[5]

Modifying Lists

In [78]:
myList = [1,2,3,4]
myList.append(5)
print(myList)

[1, 2, 3, 4, 5]

In [70]:
myList.insert(3, 'a new value')
print(myList)

[1, 2, 3, 'a new value', 4, 5]

In [71]:
myList.remove('a new value')

In [72]:
myList

[1, 2, 3, 4, 5]

In [74]:
myList.pop()

5

In [79]:
a = myList.copy()

In [80]:
a

[1, 2, 3, 4, 5]

In [81]:
myList

[1, 2, 3, 4, 5]

In [76]:
while len(myList) >1:
    print(myList.pop())

4
3
2

Sets

In [82]:
mySet = {'a', 'b', 'c'}
mySet

{'a', 'b', 'c'}

In [83]:
mySet = set(('a', 'b', 'c'))

In [84]:
mySet

{'a', 'b', 'c'}

In [97]:
myList = ['a', 'b', 'b', 'c', 'c']
myList = list(set(myList))
myList

['c', 'a', 'b']

In [87]:
mySet[0]

TypeError: 'set' object is not subscriptable

In [91]:
'a' not in myList

False

Creating set union

In [106]:
set1 = {2, 4, 6, 8, 10}
set2 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [107]:
set1

{2, 4, 6, 8, 10}

In [108]:
set2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

Union

In [109]:
set1 | set2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [110]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

Tuples

In [120]:
myTuple = ('a', 'b', 'c')
myTuple

('a', 'b', 'c')

In [121]:
myTuple[0]

'a'

In [123]:
myTuple[0] = 'd'

TypeError: 'tuple' object does not support item assignment

In [125]:
def returnMultipleValues():
    return 1,2,3

type(returnMultipleValues())

tuple

In [130]:
myTuple = (1,2,3)

In [131]:
type(myTuple)

tuple

In [132]:
a, b, c = returnMultipleValues()

In [133]:
returnMultipleValues()

(1, 2, 3)

In [134]:
a

1

Dictionaries

In [139]:
animals = {
    'a' : 'cat',
    'b' : 'dog',
    'c' : 'lion',
}
animals

{'a': 'cat', 'b': 'dog', 'c': 'lion'}

In [140]:
animals['a']

'cat'

In [143]:
animals['d'] = ' bird'

In [144]:
animals

{'a': 'cat', 'b': 'dog', 'c': 'lion', 'd': ' bird'}

In [145]:
animals['a'] = 'bear'
animals

{'a': 'bear', 'b': 'dog', 'c': 'lion', 'd': ' bird'}

In [150]:
animals.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [151]:
animals.values()

dict_values(['bear', 'dog', 'lion', ' bird'])

In [153]:
animals = {
    'a' : ('Dog', 'Cat'),
    'b' : ('monkey'),
}
print(animals)

{'a': ('Dog', 'Cat'), 'b': 'monkey'}

In [157]:
from collections import defaultdict

In [158]:
animals = defaultdict(list)

In [159]:
animals

defaultdict(list, {})

In [161]:
animals['e'].append("elephant")
animals

defaultdict(list, {'e': ['elephant']})

In [162]:
animals['c'].append('Fish')
animals

defaultdict(list, {'e': ['elephant'], 'c': ['Fish']})

In [163]:
animals['f']

[]

In [164]:
animals

defaultdict(list, {'e': ['elephant'], 'c': ['Fish'], 'f': []})

List Comprehension

In [167]:
myList = [1,2,3,4,5]
[2*item for item in myList]

[2, 4, 6, 8, 10]

In [170]:
myList = list(range(100))
# Numbers divisible by 10 with remainder 0
filteredList = [item for item in myList if item % 10 == 0]
filteredList

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [172]:
#Numbers with remainder less than 3 after dividing by 10
filteredList = [item for item in myList if item % 10 < 3]
print(filteredList)

[0, 1, 2, 10, 11, 12, 20, 21, 22, 30, 31, 32, 40, 41, 42, 50, 51, 52, 60, 61, 62, 70, 71, 72, 80, 81, 82, 90, 91, 92]

In [178]:
# Using a period
myString = 'My name is. Ryan Mitchell. I live in Boston'
myString.split('.')

['My name is', ' Ryan Mitchell', ' I live in Boston']

In [179]:
# Using spaces between words
myString.split()

['My', 'name', 'is.', 'Ryan', 'Mitchell.', 'I', 'live', 'in', 'Boston']

In [180]:
def cleanWord(word):
    return word.replace('.', '').lower()
[cleanWord(word) for word in myString.split()]

['my', 'name', 'is', 'ryan', 'mitchell', 'i', 'live', 'in', 'boston']

In [181]:
[cleanWord(word) for word in myString.split() if len(cleanWord(word)) < 3]

['my', 'is', 'i', 'in']

In [182]:
[[cleanWord(word) for word in sentence.split()] for sentence in myString.split('.')]

[['my', 'name', 'is'], ['ryan', 'mitchell'], ['i', 'live', 'in', 'boston']]