In [2]:
class Dog:
    def __init__(self, name):
        self.name = name
        self.legs = 4

    def speak(self):
        print(self.name + ' says Bark!')

__main__.Dog

In [6]:
my_dog = Dog('Rover')
another_dog = Dog('Fluffy')

In [7]:
my_dog.speak()

Rover says Bark!

In [8]:
another_dog.speak()

Fluffy says Bark!

In [9]:
# Returns the value of the factorial of num if it is defined, otherwise returns None
def factorial(num):
    pass

In [46]:
# Return 120
factorial(5)

In [47]:
# Return 720
factorial(6)

In [48]:
# Return 1
factorial(0)

In [49]:
# Return None
factorial(-2)

In [50]:
#Return None
factorial(1.2)

In [51]:
 # Return None
factorial('spam, spam, spam, spam, spam')

In [52]:
myVar = 1

if type(myVar) == int:
    print('myVar is an Integer!')

if type(myVar) != int:
    print('myVar is NOT an Integer!')

myVar is an Integer!

In [61]:
# This prints the sum of all the numbers from 1 to 10
i = 0
s = 0
while i < 10:
    i = i + 1
    s = s + i

s

55

In [10]:
int(4 ** 4.00)

256

In [11]:
int(8.9)

8

In [12]:
int(14/3)

4

In [13]:
int(8.999999999)

8

In [15]:
round(14/3, 2)

4.67

In [16]:
1.2 - 1.0

0.19999999999999996

In [17]:
14/3

4.666666666666667

In [18]:
round(1.2 - 1., 2)

0.2

In [19]:
from decimal import Decimal, getcontext

In [20]:
int('100')

100

In [21]:
int('100', 2)

4

In [107]:
bool(-1) == 1

True

In [106]:
int(8.7)

8

In [22]:
int(100, 2)

TypeError: int() can't convert non-string with explicit base

In [24]:
int('1ab', 16)

427

In [25]:
1.2 - 1.0

0.19999999999999996

In [26]:
getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [28]:
getcontext().prec=4

In [29]:
getcontext()

Context(prec=4, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [30]:
Decimal(1) / Decimal(3)

Decimal('0.3333')

In [31]:
getcontext().prec=2

In [32]:
Decimal(1) / Decimal(3)

Decimal('0.33')

In [33]:
Decimal(3.14)

Decimal('3.140000000000000124344978758017532527446746826171875')

In [34]:
Decimal('3.14')

Decimal('3.14')

In [35]:
round(1.2 -1.0, 2)

0.2

In [1]:
bool(1)

True

In [2]:
bool(0)

False

In [3]:
bool(-1)

True

In [4]:
bool(1j)

True

In [5]:
bool(0.0)

False

In [6]:
bool(0j)

False

In [7]:
bool('True')

True

In [12]:
bool('False')

True

In [13]:
name = 'My Name is Iron-Man'

In [14]:
name[0]

'M'

In [15]:
name[1]

'y'

In [16]:
name[0:7]

'My Name'

In [17]:
name[:7]

'My Name'

In [18]:
name[11:]

'Iron-Man'

In [20]:
myList = [1,2,3,4,5]

In [21]:
myList[2:4]

[3, 4]

In [22]:
len(name)

19

In [23]:
len(myList)

5

In [26]:
'My number is: '+str(5)

'My number is: 5'

In [30]:
f'My number is: {5}'

'My number is: 5'

In [31]:
f'My number is: {5} and twice that is {2*5}'

'My number is: 5 and twice that is 10'

In [35]:
import math

In [36]:
f'Pi is: {math.pi:.2f}'

'Pi is: 3.14'

In [37]:
'Pi is: {}'.format(math.pi)

'Pi is: 3.141592653589793'

In [52]:
myString = '''
Here is a long block of text
I can add newlines!
another one
the text doesn't stop until it sees \'\'\'\


'''

In [53]:
myString

"\nHere is a long block of text\nI can add newlines!\nanother one\nthe text doesn't stop until it sees '''\n\n"

In [54]:
print(myString)

Here is a long block of text
I can add newlines!
another one
the text doesn't stop until it sees '''

In [55]:
bytes(4)

b'\x00\x00\x00\x00'

In [56]:
smileyBytes = bytes('ðŸ˜', 'utf-8')
smileyBytes

b'\xf0\x9f\x98\x81'

In [57]:
smileyBytes.decode('utf-8')

'ðŸ˜'

In [87]:
smileyBytes = bytearray('ðŸ˜', 'utf-8')

In [88]:
smileyBytes

bytearray(b'\xf0\x9f\x98\x81')

In [89]:
smileyBytes [3] = int('85', 16)

In [95]:
smileyBytes.decode('utf-8')

'ðŸ˜…'

In [98]:
hexNumbers = {
    '0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9':9,
    'A': 10, 'B': 11, 'C': 12, 'D': 13, 'E': 14, 'F':15
}
# Converts string hex number into an integer decimal
# If hexnum is not a valid hexadecimal number, returns None
def hexToDec(hexNum):
    pass

In [99]:
# 10
hexToDec('A')

In [100]:
hexNumbers = {
    '0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9':9,
    'A': 10, 'B': 11, 'C': 12, 'D': 13, 'E': 14, 'F':15
}
# Converts string hex number into an integer decimal
# If hexnum is not a valid hexadecimal number, returns None
def hexToDec(hexNum):
    for char in hexNum:
        if char not in hexNumbers:
            return None
        
    if len(hexNum) == 3:
        return hexNumbers[hexNum[0]] * 256 + hexNumbers[hexNum[1]] * 16 + hexNumbers[hexNum[2]]

In [103]:
hexToDec('FDF')

4063

List Slicing

In [108]:
myList = [1,2,3,4,5]
myList[3:]

[4, 5]

In [130]:
myList[0:6:2]

[1, 3, 5]

In [131]:
myList[0:6:3]

[1, 4]

In [138]:
myList[::2]

[1, 3, 5]

In [ ]:
for i in range(100):
    print(i)

In [141]:
myList = list(range(100))

In [142]:
myList[::10]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [143]:
myList[::-10]

[99, 89, 79, 69, 59, 49, 39, 29, 19, 9]

Modifying Lists

In [144]:
myList = [1,2,3,4]
myList.append(5)
print(myList)

[1, 2, 3, 4, 5]

In [147]:
myList.insert(3, 'a new value')
print(myList)

[1, 2, 3, 'a new value', 4, 5]

In [148]:
myList.remove(' new value')

ValueError: list.remove(x): x not in list